# Basic Python

## syntax and code blocks

In [1]:
name = "Maliq"

In [2]:
name

'Maliq'

In [3]:
name = "Carl"

In [4]:
name

'Carl'

In [5]:
count = 0

In [6]:
while count < 10:
    print(name)
    count += 1
print("while loop is finished")

Carl
Carl
Carl
Carl
Carl
Carl
Carl
Carl
Carl
Carl
while loop is finished

In [8]:
def my_funct():
    print("hi mom")

In [9]:
my_funct()

hi mom

In [26]:
'5' - 5

TypeError: unsupported operand type(s) for -: 'str' and 'int'

## math and logic

In [10]:
2 + 2

4

In [11]:
5/4

1.25

In [12]:
5//4

1

In [13]:
5 % 4

1

In [14]:
6 * 7

42

In [15]:
75 % 5

0

In [24]:
5 != 5

False

### Logic

- `not` not "Tyler has long black hair"
- `and` "Tyler is bald" and (not "he is teaching JavaScript")
- `or` "Tyler is bald" or "he is teaching Java"

In [22]:
not True

False

In [18]:
not False

True

In [20]:
True and True

False

In [23]:
(not False) and True

True

In [21]:
True or False

True

# Lecture Examples

## Data Types

### primative

In [40]:
int_number = 42
int_number.__class__

int

In [41]:
float_number = 3.14
float_number.__class__

float

In [42]:
is_logged_in = True
is_logged_in.__class__

bool

In [43]:
checking_balance = None
checking_balance.__class__

NoneType

In [49]:
name = "Jenny"
name = 'Jenny'
# name = """
# Hey
# Jenny, don't change your number
# I need to make you mine
# Jenny, I call your number
# 867-5309"""
name.__class__

str

In [50]:
print(name)

Jenny

In [48]:
phone = "867-5309"
# phone = 8675309
phone.__class__

str

In [56]:
"%s, I got your number: %s" % (name, phone)

'Jenny, I got your number: 867-5309'

In [57]:
f'{name} I got your number: {phone}'

'Jenny I got your number: 867-5309'

## Composite Types aka Data Structures

## Lists aka arrays

In [27]:
fruits = ['apple', 'banana', 'strawberry']

In [28]:
fruits

['apple', 'banana', 'strawberry']

In [29]:
fruits.insert(1, "pineapple")

In [30]:
fruits

['apple', 'pineapple', 'banana', 'strawberry']

In [31]:
fruits.append("grapes")

In [34]:
fruits.pop(1)

'pineapple'

In [36]:
person_list = ['Tyler', 39, True]

In [37]:
person_list[0]

'Tyler'

### Dictionaries

In [35]:
person_dict = {'name': 'Tyler', 'age': 39, 'is_admin': True}

In [38]:
person_dict['name']

'Tyler'

In [39]:
person_dict['age']

39

In [58]:
print(person_dict)

{'name': 'Tyler', 'age': 39, 'is_admin': True}

In [59]:
person_dict['hobbies'] = []

In [60]:
person_dict

{'name': 'Tyler', 'age': 39, 'is_admin': True, 'hobbies': []}

In [64]:
person_dict['hobbies'] = ['sleeping']

In [65]:
person_dict

{'name': 'Tyler', 'age': 39, 'is_admin': True, 'hobbies': ['sleeping']}

In [66]:
person_dict['hobbies'] = ['coding']

In [67]:
person_dict

{'name': 'Tyler', 'age': 39, 'is_admin': True, 'hobbies': ['coding']}

In [71]:
person_dict['hobbies'].insert(0,'sleeping')

In [72]:
person_dict

{'name': 'Tyler',
 'age': 39,
 'is_admin': True,
 'hobbies': ['sleeping', 'coding', 'sleeping']}

In [73]:
person_dict['ssn'] = 234567890

In [74]:
person_dict

{'name': 'Tyler',
 'age': 39,
 'is_admin': True,
 'hobbies': ['sleeping', 'coding', 'sleeping'],
 'ssn': 234567890}

## Lists of Dictionaries

In [96]:
person_list = [
{'name': 'Joan', 'age': 21, 'is_admin': True},
{'name': 'Gary', 'age': 25, 'is_admin': False},
{'name': 'Malo', 'age': 21, 'is_admin': True}
]
person_list[1]["age"]

25

In [116]:
for person in person_list:
    person['age'] += 1
    person['hobbies'] = []
    print(person['age'])

23
27
23

In [117]:
for person in person_list:
    print(person)

{'name': 'Joan', 'age': 23, 'is_admin': True, 'hobbies': []}
{'name': 'Gary', 'age': 27, 'is_admin': False, 'hobbies': []}
{'name': 'Malo', 'age': 23, 'is_admin': True, 'hobbies': []}

In [118]:
person_list[0]['age'] += 1

In [119]:
person_list[0]['name']

'Joan'

In [107]:
numbers = [[1,2,3],[4,5]]

In [110]:
for number in numbers:
    print(number[1])

2
5

In [86]:
name = "Dan"

In [87]:

if name == "Mike":
    print("the condition is met!")
elif name == "Dan":
    print(f"the name is {name}")
    print(f"{name} is the man!!!")
else:
    print("that's not the name")

the name is Dan
Dan is the man!!!

In [ ]:
condition = False
if condition:
  print("the condition is met!")
else:
  print("the condition is NOT met!")

In [ ]:
condition = True
if condition:
  print("the condition is met!")
else:
  print("the condition is NOT met!")
print("This is outside the code block!!!")

In [ ]:
condition = False
conditionTwo = True
if condition:
  print("the condition is met!")
elif conditionTwo:
  print("the second condition is met!")
else:
  print("the condition is NOT met!")
print("This is outside the code block!!!")

## loops

- `for`
- `while`

### `for`
1. can be used to do something a certain number of times
1.  can be used to iterate over a data structure

In [88]:
#1

for i in range(40):
    print(i, f"I've done this {i} times!!")

0 I've done this 0 times!!
1 I've done this 1 times!!
2 I've done this 2 times!!
3 I've done this 3 times!!
4 I've done this 4 times!!
5 I've done this 5 times!!
6 I've done this 6 times!!
7 I've done this 7 times!!
8 I've done this 8 times!!
9 I've done this 9 times!!
10 I've done this 10 times!!
11 I've done this 11 times!!
12 I've done this 12 times!!
13 I've done this 13 times!!
14 I've done this 14 times!!
15 I've done this 15 times!!
16 I've done this 16 times!!
17 I've done this 17 times!!
18 I've done this 18 times!!
19 I've done this 19 times!!
20 I've done this 20 times!!
21 I've done this 21 times!!
22 I've done this 22 times!!
23 I've done this 23 times!!
24 I've done this 24 times!!
25 I've done this 25 times!!
26 I've done this 26 times!!
27 I've done this 27 times!!
28 I've done this 28 times!!
29 I've done this 29 times!!
30 I've done this 30 times!!
31 I've done this 31 times!!
32 I've done this 32 times!!
33 I've done this 33 times!!
34 I've done this 34 times!!
35 I've done this 35 times!!
36 I've done this 36 times!!
37 I've done this 37 times!!
38 I've done this 38 times!!
39 I've done this 39 times!!

In [ ]:
# all odd ints 1 to 255

In [89]:
for i in range(1, 256, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199
201
203
205
207
209
211
213
215
217
219
221
223
225
227
229
231
233
235
237
239
241
243
245
247
249
251
253
255

In [1]:
def my_fuct():
    print("hello world")

In [2]:
my_fuct()

hello world

In [7]:
def say_hello():
    print(f"Hello")

In [8]:
say_hello("ruben")

TypeError: say_hello() takes 0 positional arguments but 1 was given

In [6]:
say_hello("keithin")

Hello keithin

In [12]:
def say_hello1(name="programmer", language="Python"):
  print(f"Hello, {name}! Welcome to {language}.")

In [14]:
say_hello1()

Hello, ! Welcome to Python.

In [15]:
say_hello1("Matthew")

Hello, Matthew! Welcome to Python.

## Challenge: Print the sum of all integers from 0 to some number n.

In [ ]:
def print_ints_to_n(n):
    pass